name = "SciMLOperators"
uuid = "c0aeaf25-5076-4817-a8d5-81caf7dfa961"
authors = ["xtalax <alex.lemony@gmail.com>"]
version = "0.1.12"

[deps]
ArrayInterfaceCore = "30b0a656-2188-435a-8636-2ec0e6a096e2"
DocStringExtensions = "ffbed154-4ef7-542d-bbb7-c09d3a79fcae"
Lazy = "50d2b5c4-7a5e-59d5-8109-a42b560f39c0"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Setfield = "efcf1570-3423-57d1-acb7-fd33fddbac46"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
Tricks = "410a4b4d-49e4-4fbc-ab6d-cb71b17b3775"

[compat]
ArrayInterfaceCore = "0.1"
DocStringExtensions = "0.8, 0.9"
Lazy = "0.15"
Setfield = "0.8, 1"
StaticArrays = "1"
julia = "1.6"
